/*====================================================================================*/
/* Common
/*====================================================================================*/

body {
	font-family:
	"Noto Serif JP",           /* Webフォント（おすすめ） */
	"Hiragino Mincho ProN",    /* macOS */
	"Yu Mincho", "YuMincho",   /* Windows */
	"游明朝",                  /* Windows */
	"MS Mincho",               /* 古いWindows */
	serif;
	font-size: 80%;
	letter-spacing:0.1em;
}

}
/*====================================================================================*/
/* スマフォ縦表示
/*====================================================================================*/
/* ipad pro? */
@media only screen and (max-width: 1024px) and (orientation:portrait){

}
/*====================================================================================*/
/* スマフォ　横表示
/*====================================================================================*/
@media only screen and (max-width: 1024px) and (orientation:landscape){

}