/*====================================================================================*/
/* Common
/*====================================================================================*/
.pageWrapper{
	width:"100%";
	height:100vh;
	position:relative;
}
.pageWrapper > .contentsWrapper{
	height:400vh;
}
.pageWrapper > .contentsWrapper > .slideContents{

    position: sticky;
    top: 0px;
    width: calc(100vw - 0px);
    height: calc(100vh - 0px);

}
.pageWrapper > .contentsWrapper > .slideContents > .contents{
	position:absolute;
	top:0;
	width:100%;
	height:100%;
	overflow:hidden;
	position:relatived;d
	background:white;
}

.defaultBrightness{
	filter: brightness(100%);
}
.pageWrapper > .contentsWrapper > .slideContents > .contents img{
    width: calc(100vw - 0px);
    height: calc(100vh - 0px);
	object-fit:cover;
	
}
.pageWrapper > .contentsWrapper > .slideContents > .contents >.imageBgColor{
	position:absolute;
	top:0;
	width: calc(100vw - 100px);
    height: calc(100vh - 100px);
	background:white;
}
.pageWrapper > .contentsWrapper > .slideContents > .contents >.captionArea{
	position:absolute;
    top: 0;
    width: 100%;
	height: calc(100vh - 0px);
	color:white;
    font-size: 80%;
}
.pageWrapper > .contentsWrapper > .slideContents > .contents >.captionArea > .captionWrapper{
	position: absolute;
	bottom: 40px;
	left:40px;
	

    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
	transition: all 1s;
}
.pageWrapper > .contentsWrapper > .slideContents > .contents >.captionArea > .captionWrapper > .title{

	font-size:120%;
}
.pageWrapper > .contentsWrapper > .slideContents > .contents >.captionArea > .captionWrapper > .title > .EnTxt{
	font-size:80%;
}
.pageWrapper > .contentsWrapper > .slideContents > .contents >.captionArea > .captionWrapper > .text{
	border-top:solid 1px;
	margin-top:5px;
	padding-top:5px;
}
.pageWrapper > .contentsWrapper > .slideContents > .logo{
	width:350px;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.pageWrapper > .contentsWrapper > .slideContents > .logo img{
}

#textContents{
	height:initial;
	display:inline-block;
    padding: 50px 70px;
}
#textContents > .contents{
	padding:30px 0;
}
#textContents > .contents > .title{
	display:inline-block;
	width:200px;
	border-right:solid 1px;
}
#textContents > .contents > .body{
	display:inline-block;
	width:calc(100% - 220px);
}
#textContents > .contents > .body > .image{
	width:600px;
	display:inline-block;
}
#textContents > .contents > .body > .text{
    width: calc(100% - 620px);
	display:inline-block;
}
#textContents > .contents > .body > .text > .title{
	width:calc(100% - 220px);
	display:inline-block;
}
/*====================================================================================*/
/* スマフォ縦表示
/*====================================================================================*/
/* ipad pro? */
@media only screen and (max-width: 1024px) and (orientation:portrait){


}
/*====================================================================================*/
/* スマフォ　横表示
/*====================================================================================*/
@media only screen and (max-width: 1024px) and (orientation:landscape){


}

/* EndMobile */
